* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    background: #eff3f7;
    height: 100%;
    color: #b2b3bc;
}

html,
body,
#baedorazy,
.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
